---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import PrimaryCta from "../components/PrimaryCta.astro";
import SecondaryCta from "../components/SecondaryCta.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from 'astro:transitions';
---


<Layout title="Resources Coming Soon!">
    <Main>
      
    </Main>
  </Layout>