


<footer class="footer">
  <div class="footer_container">
    <h3 class="footer_heading">
      The Ethereum-2077 Collective is a community of founders and creatives
      building solutions and earning value.
    </h3>
    <div class="footer_content">
      <div>
        <h3 class="">About us</h3>
        <ul class="">
          <li class="">
            <a href="/manifesto"  class="linkText">About</a>
          </li>
          <li class="">
            <a href="#"  class="linkText">Media Gallery</a>
          </li>
          <li class="">
            <a href="/blog"  class="linkText">Blog</a>
          </li>

          <li class="">
            <a href="#"  class="linkText">Email</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="">Ecosystem</h3>
        <ul class="">
          <li class="">
            <a href="/community" class="linkText">Community</a>
          </li>
          <li class="">
            <a href="#" class="linkText">Creatives</a>
          </li>
          <li class="">
            <a href="#" class="linkText">Builders</a>
          </li>
          <li class="">
            <a href="#" class="linkText">Sponsors</a>
          </li>
          <li class="">
            <a href="#" class="linkText">Founders</a>
          </li>
        </ul>
      </div>
      <div class="join">
        <h3 class="">Join us on</h3>
        <ul class="">
          <li class="">
            <a href="#" class="linkText">Discord</a>

            <img src="/arrowRight.svg" alt="" width="24" height="24" />
          </li>
          <li class="">
            <a href="#" class="linkText">Twitter</a>

            <img src="/arrowRight.svg" alt="" width="24" height="24" />
          </li>
          <li class="">
            <a href="#" class="linkText">YouTube</a>

            <img src="/arrowRight.svg" alt="" width="24" height="24" />
          </li>
          <li class="">
            <a href="#" class="linkText">Substack</a>

            <img src="/arrowRight.svg" alt="" width="24" height="24" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    padding-inline: var(--space-body);
    background-color: #111827;
    padding-block: 3.2rem;


    &_heading {
      max-width: 36rem;
      color: var(--leather-default-normal);
      margin-block-end: 1.6rem;
      font-size: 1.875rem;
    }

    &_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      h3 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        color: var(--leather-default-normal);
        letter-spacing: -0.8px;
      }

      ul {
        color: var(--leather-default-normal);
        font-weight: 500;

        li {
          margin-block-end: 1rem;
        }
      }
    }

    .join {
      li {
        display: flex;
        align-items: center;
      }
    }

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      &_content {
        padding-top: 2rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      &_heading {
        margin-block-start: 2rem;
      }
    }
  }
</style>
