---
import PrimaryCta from "../components/PrimaryCta.astro";
import MobileMenu from "../components/MobileMenu.astro";
---

<header>
  <nav class="navigation">
    <div class="navigation_links">
      <div>
        <a href="/" class="logo">2077 Collective</a>
      </div>
      <ul class="navigation_list">
        <li>
          <a class="linkText" href="/blog">Blog</a>
        </li>
        <li>
          <a class="linkText" href="/projects">Projects</a>
        </li>
        <li>
          <a class="linkText" href="/community">Community</a>
        </li>
        <li>
          <a class="linkText" href="/manifesto">Manifesto</a>
        </li>
      </ul>
    </div>
    <ul class="navigation_social">
      <li><a href="">tw</a></li>
      <li><a href="">ds</a></li>
      <li><a href="">sub</a></li>
      <li><a href="">yt</a></li>
      <li>
        <a href="/community"  class="button-primary">Join Community</a>
      </li>
    </ul>
  </nav>
</header>

<div class="navigation_mobile"><MobileMenu text="Join" /></div>

<style lang="scss" is:global>
  header {
    margin-block-end: 2rem;
    padding-block: 1.6rem;
    border-bottom: 0.5px solid rgb(229, 227, 227);

    a {
      font-family: "manrope-medium", sans-serif;
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: var(--space-body);

      &_links {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
      }
      &_list {
        display: none;
        align-items: center;
        column-gap: 1.6rem;
      }
      &_social {
        display: none;
        align-items: center;
        column-gap: 1.2rem;
      }
    }

    @media only screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        justify-content: space-between;
        &_social {
          display: flex;
        }
      }

      .navigation_mobile {
        display: none;
      }
    }

    @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .navigation {
        &_list {
          display: flex;
        }
      }
    }
  }
</style>
