
<ul id="mobile-nav" class="">
    <li><a class="linkText" href="/">Home</a></li>
    <li><a class="linkText" href="/blog">Blog</a></li>
    <li><a class="linkText" href="/projects">Projects</a></li>
    <li><a class="linkText" href="/manifesto">Manifesto</a></li>
</ul>

<style lang="scss">
    #mobile-nav {
        position: fixed;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.2rem;
        display: flex;
        column-gap: 1.2rem;
        background-color: var(--neutral-porcelain-light-normal);
        border: 0.5px dotted var(--leather-default-active);
        border-radius: 0.5rem;
        padding: 1.2rem;
        box-shadow: 0 4px 4px 0 rgba(0, 121, 255, 0.1), 0 2px 5px 0 rgba(0, 111, 245, 0.08), 0 1px 10px 0 rgba(0, 101, 235, 0.06);

        a {
          color: var(--neutral-porcelain-default-normal);
        }

        @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      
        display: none;
    }
    }
</style>