---
type Props = {
  text: string;
};
const { text } = Astro.props;
---

<div>
  <a href="" class="button-secondary">{text}</a>
</div>

<style lang="scss">
  @import "../styles/base/_button.scss";

  .button-secondary {
    @include button();
    @include button-secondary();
  }
</style>
