h1 {
    font-family: 'manrope-extrabold', sans-serif;
    font-weight: normal;
    font-size: var(--h1);
    letter-spacing: var(--letter-spacing);
}

h2 {
    font-family: 'manrope-bold', sans-serif;
    font-weight: bold;
    font-size: var(--h2);
    letter-spacing: var(--letter-spacing);
}

h3 {
    font-family: 'manrope-bold', sans-serif;
    font-weight: normal;
    font-size: var(--h3);
    letter-spacing: -1.6px;
}

p {
    font-family: 'manrope-regular', sans-serif;
    font-weight: normal;
    font-size: var(--p);
    line-height: 1.5;
}

a {
    font-family: 'manrope-regular', sans-serif;
    font-weight: normal;
    font-size: var(--p);
}

span {
    font-family: 'manrope-regular', sans-serif;
}